# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# SvelteKit
/.svelte-kit/
/build/

# misc & OS
.DS_Store
*.pem
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# documents & large files
*.pdf

# editor & IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# debug & logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# agent customizations & temporary scripts
/.agents/
/.codex/
.tempmediaStorage/
extract.js
